NicerAppWebOS/domainConfigs/nicer.app/naLAN.json
NicerAppWebOS/domainConfigs/nicer.app/database*
NicerAppWebOS/domainConfigs/nicer.app/index.combined.*
NicerAppWebOS/domainConfigs/said.by/naLAN.json
NicerAppWebOS/domainConfigs/said.by/couchdb.json
NicerAppWebOS/domainConfigs/said.by/index.combined.*
NicerAppWebOS/3rd-party/3D
NicerAppWebOS/3rd-party/jQuery/poshytip/
NicerAppWebOS/3rd-party/tinymce-6/apiKey*
NicerAppWebOS/3rd-party/tinymce-6.2.0/apiKey*
NicerAppWebOS/3rd-party/geoLite2/apiKey.txt
NicerAppWebOS/3rd-party/geoLite2/*.mmdb
NicerAppWebOS/3rd-party/geoLite2/downloads/*
NicerAppWebOS/apps/nicer.app/applications/2D/musicPlayer/music/*
NicerAppWebOS/apps/nicer.app/obsoleted
NicerAppWebOS/apps/nicer.app/webmail/configs/config.Rene.AJM.Veerman.json
NicerAppWebOS/key.youtube.txt
NicerAppWebOS/siteMedia/backgrounds
NicerAppWebOS/siteData
NicerAppWebOS/siteCache
NicerAppWebOS/siteLogs
NicerAppWebOS/vividUI
NicerAppWebOS_addons/
RAM_disk
zoned.at/
upgrade_globalsClient_*.sh
do_upgrade_repositoriesFor_*.sh
